<div class="container page-wrapper">
    <header class="page-header clear-fix">
        <span class="back">
        <!-- <i class="ept-back-button fa fa-arrow-left" ng-click="goBack()"></i></span> -->
        <h3 class="page-title">
            {{scoredSessions.length}} scored test(s) in total
        </h3>
    </header>
    <div class="review-exams-page">
        <ept-group class="scored-session-list">
            <ept-item ng-click="viewExam(session)" ng-repeat="session in scoredSessions">
                <div style="width:100%">
                    <h3 class="pull-left">{{session.name}}</h3>
                    <h3 class="pull-right">{{session.score}}/{{session.totalScore}}</h3>
                </div>
            </ept-item>
        </ept-group>
    </div>
</div>